// ======
// Colors
// ======

$color-primary: #ed1c24;

$color-white: #fff;

$color-grey-light: #f2f2f2;
$color-grey-mid: #a6a6a6;
$color-grey-dark: #404040;

$color-black: #000;

// ==========
// Typography
// ==========

$heading-primary-main-font-size: 6.5rem;
$heading-primary-sub-font-size: 2.2rem;
$heading-secondary-font-size: 4rem;
$heading-tertiary-font-size: 2.5rem;
$default-font-size: 2.2rem;
$footer-font-size: 1.6rem;